# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Build & Serverless output
.serverless/
.build/
dist/
coverage/

# Environment files (VERY IMPORTANT)
.env
.env.local
.env.*.local

# macOS system files
.DS_Store

# IDE / Editor files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp

# TypeScript build cache (only if using TS)
*.tsbuildinfo