service: verify-phone
frameworkVersion: '4'

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1

  environment:
    COGNITO_USER_POOL_ID: ${env:COGNITO_USER_POOL_ID}
    COGNITO_ENDPOINT: ${env:COGNITO_ENDPOINT}

functions:
  sendOtp:
    handler: functions/send-otp.handler
    events:
      - httpApi:
          path: /api/send-otp
          method: POST

  resendOtp:
    handler: functions/resend-otp.handler
    events:
      - httpApi:
          path: /api/resend-otp
          method: POST

  verifyOtp:
    handler: functions/verify-otp.handler
    events:
      - httpApi:
          path: /api/verify-otp
          method: POST